
#VideoHandler {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#centerbox{
  display: flex;
    align-items: center;
    justify-content: center;
}

.background{
  position: fixed;
  z-index: -1
}

.test{
  width: auto;
  height: auto;
}

.quiz{
font-family: Futura;
font-size: 48px;
color:white;
}

.circle_selection{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
