
#VideoHandler {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#input_usr_signin {
    font-size: 75px;
}

#gogle{
  width: 150px;
  height: 50px;
}

#circle {
      width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}

#centerbox{
  display: flex;
    align-items: center;
    justify-content: center;
}

#centerbox2{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px
}

#centr{
text-align: center;
}

#centre2{
  margin-top: 250px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.button {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 350px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 3s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 350px 350px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.button:hover {
  background-color: #228B22;
  transform: scale(1.20, 1.20);
}

.box:hover::after {
    opacity: 1;
}

.slide {
  position: relative;
  font-size: 60px;
  font-family:Bebas;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transform: scale(3, 3);
  transition: 0s;
  transform: translateY(4px);
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

h1 {
  font-family: ;
  color:white;
}

h3 {
  font-family: helvetica;
}

h2 {
  font-family: helvetica;
  border: 5px outset salmon;
  padding: 15px;
  margin: 30px;
  text-align: center;
}

h4 {
  text-align: center;
  color: #696969;
}


img {
    display: block;
    margin: 0 auto;
}
