#changin {
  animation-name: Changin_color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#centerbox{
text-align: center;
margin-top: 200px;
width: 35px;
height: 35px;
}

#centr{
text-align: center;
}

.kahtoot_txt{
  color: white;
  font-size: 125px;
}

.size{
  width: 500px;
  height: 100px;
}

@keyframes Changin_color {
  from {background: green;}
  25% {background: red;}
  50% {background: yellow;}
  75% {background: blue;}
  to {background: green;}
}
